* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

body {
  background-image: linear-gradient(#ffd1d1, #ffe3e1, white);
  background-repeat: no-repeat;
}

input {
  border-radius: 10px;
  background-color: #fff5e4;
  padding: 0.5em;
}

h2 {
  font-size: 3em;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

h3 {
  margin: 0;
}

.avatar-placeholder {
  height: 70px;
  border: 3px solid #ff9494;
  border-radius: 100%;
  margin-bottom: 1em;
  background-color: #ff9494;
}

.loading-image {
  height: 500px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.layout-container {
  display: grid;
  min-height: 100vh;
  grid-template: 100px 1fr 50px/ 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

.navigation-container {
  grid-area: nav;
  z-index: 5;
}

.main-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.footer-container {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #ff9494;
}

/* CSS for pages */
/* Navigation */

.navigation {
  padding: 1em;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.navigation ul {
  gap: 0.5em;
  font-size: 1.2em;
  display: flex;
}

.navigation li {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 70px;
  height: 70px;
}

.app-title {
  font-size: 2em;
}

.signin-form {
  display: flex;
}
.login-btn {
  font-size: 1.1em;
  padding: 0.5em 1em;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}

.home-container h4 {
  text-align: center;
  width: 400px;
  margin: 1em;
  font-weight: bold;
  color: #dc3545;
}

.hero-container {
  display: flex;
  width: 100%;
  height: 480px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
}

.btn-grp {
  display: flex;
  gap: 1em;
}

.explore-btn {
  color: #dc3545;
}

.explore-btn:hover {
  color: white;
}

.hero-image {
  display: flex;
  width: 50%;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.featured-container {
  width: 80%;
  display: flex;
  height: 200px;
}

.featured-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 100%;
}

.featured-item img {
  width: 170px;
  padding: 1em;
}

.featured-item p {
  font-size: 1.2em;
  font-weight: bold;
}

/* Users */
.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: calc(100vh - 200px);
}

.users-container h2 {
  align-self: flex-start;
}

.chat-container {
  border: 2px solid #dc3545;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.chat-users {
  width: 40%;
  height: 100%;
  border-right: 2px solid #dc3545;
  padding: 1em;
  overflow-y: auto;
}

.chat-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.userCard-wrapper {
  width: 100%;
  padding: 0.5em;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1em;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #fff5e4;
}

.userCard-wrapper:hover {
  background-color: rgba(255, 245, 228, 0.7);
}

.userCard-wrapper.selected {
  background-color: #ffd1d1;
}

.userCard-wrapper .avatar-placeholder {
  margin-bottom: 0;
  margin-left: 0.5em;
}

.chat-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 1em;
  border-bottom: 2px solid #dc3545;
  display: flex;
}

.chat-content {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #dc3545;
}

/* Recipes */
.recipes-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
}

.recipes-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.filter-btn-grp {
  display: flex;
  gap: 1em;
  width: 300px;
  align-items: center;
}

.filters-container {
  display: flex;
  justify-content: center;
}

.filter-btn {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 1em;
}

.search-btn {
  width: 100%;
}

.recipes-item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  overflow: auto;
  justify-content: center;
  width: 100%;
}

.card-wrapper {
  padding: 5px;
  cursor: pointer;
}

.recipeButton:hover {
  border: 3px solid #dc3545;
  box-shadow: 0 0 5px #dc3545;
  text-shadow: 0 0 5px #dc3545;
  transform: scale(1.1);
}

/* Recipe Page */
.recipePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: relative;
}

.recipePage-container h1 {
  color: #dc3545;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #dc3545;
  padding-bottom: 0.5em;
  flex-wrap: wrap;
}

.column-containers {
  display: flex;
  width: 100%;
  border: 2px solid #ff9494;
  border-radius: 10px;
}

.left-column {
  width: 50%;
  padding: 2em;
  background-color: #fff5e4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.right-column {
  width: 50%;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
}

.recipe-summary {
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  width: 100%;
  margin-bottom: 1em;
  align-items: center;
}

.recipe-labels {
  width: 100%;
  text-align: center;
}

.recipe-info {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: -5px;
}

.healthLabels {
  font-size: 0.9em;
  margin-top: 15px;
}

.recipe-image img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #dc3545;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipe-instructions {
  margin-bottom: 1em;
}

.badge-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.badge {
  font-size: 13px;
  text-transform: capitalize;
}

.back-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tableIndent {
  margin-left: 1em;
}

/* Timer */
.timer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.timer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-display {
  font-size: 7.5em;
}

.input-grp {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff9494;
  width: 320px;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  background-color: #ffd1d1;
  gap: 0.5em;
}

.input-grp button {
  margin-bottom: 0;
}

/* About the App */
.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.about-container h2 {
  margin-bottom: 1em;
}

.about-container p {
  font-size: 1.5em;
  text-align: justify;
}

/* Contact Me */
.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.contact-container h2 {
  margin-bottom: 1em;
}

.content-body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contact-item img {
  height: 60px;
  width: 60px;
  margin-right: 1em;
  background-color: none;
  border: none;
}

#contact a {
  text-decoration: none;
  color: #3882f6;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

/* Login */
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.signin-container img {
  height: 70px;
  border: 3px solid #ff9494;
  border-radius: 100%;
  margin-bottom: 1em;
  background-color: #ff9494;
}

.login-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff9494;
  width: 320px;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  background-color: #ffd1d1;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border: 2px solid #ff9494;
  width: 320px;
  border-radius: 10px;
}

/*-------------------- MEDIA QUERIES --------------------*/
/*---------- FOR TABLET DEVICES ----------*/
@media only screen and (min-width: 600px) and (max-width: 1100px) {
  /* CSS for pages */
  /* Navigation */

  .navigation {
    width: 100%;
  }

  h2 {
    font-size: 2.5em;
  }

  /* Home */
  .home-container {
    width: 100%;
  }

  .hero-container {
    height: 300px;
  }

  .hero-content {
    padding: 1em;
  }

  .hero-display {
    font-size: 1.8em;
  }

  .hero-image {
    display: flex;
    width: 50%;
  }

  .hero-image img {
    width: 100%;
  }

  .featured-container {
    width: 90%;
  }

  .featured-item img {
    width: 140px;
  }

  .featured-item p {
    font-size: 0.8em;
  }

  /* Recipes */
  .recipes-container {
    width: 100%;
    align-items: center;
  }

  .filter-btn-grp {
    justify-content: center;
  }

  .recipes-btn-container {
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 1em;
  }

  /* Recipe Page */
  .recipePage-container {
    width: 95%;
    font-size: 0.8em;
  }

  .recipePage-container h1 {
    font-size: 2em;
  }

  .left-column {
    padding: 1em;
  }

  .right-column {
    padding: 1em;
  }

  .recipe-image {
    display: flex;
    justify-content: center;
  }

  .recipe-image img {
    width: 80%;
  }

  .badge {
    font-size: 10px;
  }

  /* Recipe Form */
  .recipeForm-container {
    width: 90%;
  }

  /* Timer */
  .timer-container {
    width: 90%;
  }

  /* About the App */
  .about-container {
    width: 90%;
  }

  .about-container p {
    font-size: 1.2em;
  }

  /* Contact Me */
  .contact-container {
    width: 90%;
  }
}

/*---------- FOR MOBILE DEVICES ----------*/
/* Navbar background on collapse */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #ffd1d1;
    /* background: transparent; */
    display: flex;
    padding: 1em;
  }

  .nav-item {
    text-align: center;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
  }

  .back-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .layout-container {
    display: grid;
    min-height: 100vh;
    grid-template: 70px 1fr 50px/ 1fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";
  }

  h2 {
    font-size: 1.5em;
  }

  .navigation-container {
    grid-area: nav;
  }

  .main-container {
    padding: 0em;
  }

  .footer-container {
    font-size: 0.6em;
  }

  /* CSS for pages */
  /* Navigation */

  .navigation {
    width: 100%;
  }

  .navigation ul {
    font-size: 1em;
  }

  .title img {
    width: 40px;
    height: 40px;
  }

  .app-title {
    font-size: 1.5em;
  }

  .login-btn {
    font-size: 1em;
  }

  /* Home */
  .home-container {
    width: 300px;
  }

  .home-container h4 {
    width: 100%;
  }

  .hero-container {
    height: 400px;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .hero-content {
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  .hero-content p {
    font-size: 0.8em;
    text-align: center;
  }

  .btn-grp {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

  .hero-display {
    font-size: 1em;
    font-weight: bold;
  }

  .recipe-btn,
  .start-btn {
    font-size: 0.8em;
  }

  .hero-image {
    display: flex;
    width: 100%;
  }

  .hero-image img {
    width: 100%;
  }

  .featured-container {
    width: 100%;
  }

  .featured-item img {
    width: 100px;
  }

  .featured-item p {
    font-size: 0.7em;
  }

  /* Recipes */
  .recipes-container {
    width: 100%;
    align-items: center;
    padding-top: 1em;
  }

  .filter-btn-grp {
    justify-content: center;
  }

  .recipes-btn-container {
    width: 90%;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
    align-items: center;
    flex-direction: column-reverse;
  }

  .filters-container {
    flex-wrap: wrap;
  }

  /* Recipe Page */
  .recipePage-container {
    margin-top: 0.5em;
    width: 95%;
  }

  .recipePage-container h1 {
    font-size: 1em;
  }

  .column-containers {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .left-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }

  .left-column,
  .right-column {
    padding: 1em;
  }

  .recipe-content,
  .recipe-ingredients,
  .recipe-instructions {
    font-size: 0.65em;
  }

  .badge {
    font-size: 8px;
  }

  .recipe-notes {
    font-size: 0.65em;
  }

  .recipe-ingredients ul {
    padding-left: 20px;
  }

  /* Timer */
  .timer-container {
    width: 80%;
    padding-top: 1em;
  }

  .timer-display {
    font-size: 4em;
  }

  .input-grp {
    width: 280px;
  }

  /* About the App */
  .about-container {
    width: 80%;
    padding-top: 1em;
  }

  .about-container p {
    font-size: 0.8em;
  }

  /* Contact Me */
  .contact-container {
    width: 80%;
    padding-top: 1em;
  }

  .content-body {
    padding: 1em;
    font-size: 0.9em;
  }

  .contact-item img {
    height: 50px;
    width: 50px;
    margin-right: 1em;
  }

  /* Login */
  .signin-container {
    width: 100%;
    padding: 0em;
    padding-top: 1em;
  }

  .login-container {
    width: 280px;
  }

  .create-container {
    width: 280px;
  }
}
